body {
  text-align: center;
  background-color: aliceblue;
}

p {
  display: block;
  width: max-content;
  padding: 50px;
  margin: 10px auto;
  border: 2px dashed #000;
}

h4 {
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
